<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuTec.BaseLayer" version="2.10.0.71" targetFramework="net471" />
  <package id="CompuTec.Core" version="2.10.10.7" targetFramework="net471" />
  <package id="CompuTec.License" version="5.7.0" targetFramework="net471" />
  <package id="CompuTec.ProcessForce.API" version="2.10.10.7" targetFramework="net471" />
  <package id="CompuTec.ProcessForce.Scheduling" version="2.10.10.7" targetFramework="net471" />
  <package id="CompuTec.SAP.DI" version="2.10.0.6" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="PostSharp" version="6.3.9" targetFramework="net471" />
  <package id="PostSharp.Patterns.Common" version="6.3.9" targetFramework="net471" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.3.9" targetFramework="net471" />
  <package id="PostSharp.Patterns.Diagnostics" version="6.3.9" targetFramework="net471" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.3.9" targetFramework="net471" />
  <package id="PostSharp.Redist" version="6.3.9" targetFramework="net471" />
</packages>